<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<sectionGroup name="telerik.web.ui">
			<section name="radScheduler" type="Telerik.Web.UI.RadSchedulerConfigurationSection, Telerik.Web.UI" allowDefinition="MachineToApplication" requirePermission="false" />
		</sectionGroup>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<appSettings>
		<add key="TimeToShowSystemMessages" value="120" />
		<add key="AdminUser" value="admin" />
		<add key="AdminDefaultPassword" value="admin!123" />
		<add key="AdminEmailAddress" value="noreply@redsalud.com.bo" />
		<!--<add key="AdminEmailAddress" value="jsansuste@cognosys.com.bo" />-->
		<add key="AdminFullName" value="Red Salud" />
		<add key="AdminRole" value="Administrador" />
		<add key="AdminQuestion" value="El usuario Administrador" />
		<add key="AdminAnswer" value="Admin" />
		<add key="AdminCiudad" value="STC" />
		<add key="majorVersionNumber" value="1" />
		<add key="minorVersionNumber" value="95" />
		<add key="releaseNumber" value="0" />
		<add key="TempDirectory" value="D:\Home\AppFiles\TempRedSalud" />
		<add key="LogDirectory" value="D:\Home\AppFiles\TempRedSalud" />
		<add key="DocumentStorageDirectory" value="D:\Home\AppFiles\DocRedSalud" />
		<add key="DirectoryNotificaciones" value="D:\Home\AppFiles\Notificaciones\" />
		<add key="radComboPageSize" value="9" />
		<add key="RetencionImpuestos" value="13,0" />
		<!--13,0=13%-->
		<!-- Culture Invariant Value needed for CoberturaGestion (use . as decimal)-->
		<add key="CoberturaGestion" value="24500" />
		<add key="CoberturaGestionFallecido" value="22000" />
		<!-- Feedback configuration for application -->
		<add key="FeedbackBaseUrl" value="http://feedback.artexacta.com" />
		<add key="FeedbackApplicationName" value="REDSALUD" />
		<add key="FeedbackApplicationKey" value="P7G3F4KJN00504" />
		<add key="FeedbackApplicationVersion" value="1.0.0" />
		<add key="bo.com.alianza.quality.InsuredSend" value="http://www.alianza.com.bo/ws/InsuredSend.asmx" />
		<add key="AlianzaServer" value="http://www.alianza.com.bo/" />
		<add key="AlianzaWebServiceRelativeUrl" value="ws/InsuredSend.asmx" />
		<add key="SOATAlianzaWebServiceRelativeUrl" value="ws/ClaimSend.asmx" />
		<add key="AlianzaWebServiceUser" value="redsalud" />
		<add key="AlianzaWebServicePassword" value="70redsa25" />
		<add key="AlianzaMailTo" value="vladimir.calderon@gmail.com" />
		<add key="AlianzaErrorMailSubject" value="Error al llamar al webservice de alianza" />
		<add key="AlianzaErrorMailBody" value="Error al llamar al webservice de alianza, reenviar el mensaje a sistemas: &lt;br /&gt; {MESSAGE} &lt;br /&gt;" />
		<add key="AlianzaWebServiceUpdateMailSubject" value="Actualizado los datos desde servidor alianza" />
		<add key="AlianzaWebServiceUpdateMailBody" value="Los datos de asegurados han sido actualizados en fecha {DATE} correctamente. &lt;br /&gt; {RESUMEN} &lt;br /&gt;" />
		<add key="AlianzaClienteId" value="1" />
		<add key="NacionalVidaClienteId" value="4" />
		<!-- Cuando esta en tu maquina local, utilizar SA Western Standard Time-->
		<!-- Cuando esta publicado, utilizar Pacific Standard Time-->
		<add key="TimeZoneRDSA" value="SA Western Standard Time" />
		<add key="ClientTimeZone" value="SA Western Standard Time" />
		<!-- Desgravamen -->
		<add key="NacionalDesgravamenMail" value="testvladimir@redsalud.com.bo" />
		<add key="Telerik.ScriptManager.TelerikCdn" value="Enabled" />
		<add key="Telerik.StyleSheetManager.TelerikCdn" value="Enabled" />
		<add key="DESGNumeroDiasHoraLibre" value="15" />
		<add key="DESGExecutiveRoleName" value="Ejecutivo Desgravamen" />
		<add key="DESGHoraInicial" value="07:00" />
		<add key="DESGHoraFinal" value="23:30" />
		<add key="DESGProveedorAddress1" value=" | AV. ARCE ESQUINA CORDERO #2799, ZONA SAN JORGE, EDIFICIO FORTALEZA PISO #5 OFICINA #501" />
		<add key="DESGProveedorAddress2" value=" | " />
		<add key="DESGProveedorAddress3" value=" | " />
		<add key="DESGProveedorAddress4" value=" | AV. PAPA PAULO #761, EDIFICIO COLOMBO PISO #7 OFICINA #3, ZONA PLAZUELA QUINTANILLA" />
		<add key="DESGProveedorAddress5" value=" | " />
		<add key="DESGProveedorAddress6" value=" | " />
		<add key="DESGProveedorAddress7" value=" | BARRIO EQUIPETROL CALLE CORDOBA (7 ESTE) #13 TELF. 339-3730" />
		<add key="DESGProveedorAddress8" value=" | " />
		<add key="DESGProveedorAddress9" value=" | " />
		<add key="DESGProveedorAddress10" value=" | " />
		<add key="DESGProveedorAddress11" value=" | " />
		<add key="DESGProveedorAddress12" value=" | CALLE CALAMA NRO. 100 B, PARALELA AL COLEGIO 23 DE MARZO, CENTRO GASTROMED CONSULTORIO #3" />
		<add key="DESGProveedorAddress13" value=" | " />
		<add key="DESGProveedorAddress14" value=" | " />
		<add key="DESGProveedorAddress15" value=" | " />
		<add key="DESGProveedorAddress16" value=" | " />
		<add key="DESGProveedorAddress17" value=" | " />
		<add key="DESGProveedorAddress18" value=" | AV. 6 DE OCTUBRE ENTRE SAN FELIPE Y ALDANA, EDIFICIO ROTONDA 1ER PISO CONSULT. 8." />
		<add key="DESGProveedorAddress19" value=" | " />
		<add key="DESGProveedorAddress20" value=" | " />
		<add key="DESGProveedorAddress21" value=" | " />
		<add key="DESGProveedorAddress22" value=" | " />
		<add key="DESGProveedorAddress23" value=" | " />
		<add key="DESGProveedorAddress24" value=" | PADILLA ESQUINA CIRO TRIGO # 292, CENTRO MÉDICO PICASSO, CONSULTORIO # 6" />
		<add key="DESGProveedorAddress25" value=" | " />
		<add key="DESGProveedorAddress26" value=" | " />
		<add key="DESGProveedorAddress27" value=" | " />
		<add key="DESGProveedorAddress28" value=" | " />
		<add key="DESGProveedorAddress29" value=" | " />
		<add key="DESGProveedorAddress30" value=" | " />
		<add key="DESGProveedoAddressSectionTitle" value="DIRECCION DE CONSULTORIOS Y PROVEEDORES" />
		<add key="DESGMailSubject" value="RedSalud SISA - Se ha creado un nuevo caso en el sistema (%PROPUESTOASEGURADO%)" />
		<add key="DESGMailBody" value="[p]Se ha creado un nuevo caso en el sistema:[/p][blockquote][p]Nro Caso: %CASO%[/p][p]Propuesto Asegurado: %PROPUESTOASEGURADO%[/p][/blockquote]" />
		<add key="DESGRevisionConsentimiento" value="Confirmo que soy la persona arriba mencionada como Propuesto Asegurado y que las declaraciones y respuestas precedentes, una vez debidamente comprobadas son completas, autenticas, correctamente transcritas y forman parte de la declaración jurada de salud sobre mi vida hecha a la compañía de seguros %CLIENTE% por la presente autorizo a todo medico, hospital, compañía de seguros u otra institución o persona cualquier que, dentro de los limites legales, faciliten a la compañía de seguros %CLIENTE%  o a su representante, información sobre mi estado de salud, historial medico y cualquier hospitalización, recomendación, diagnostico, tratamiento, enfermedad  dolencia. una fotocopia de esta autorización sera asi mismo valida." />
		<add key="FormularioSantaCruzFooterAddress" value="[b]Of Central Santa Cruz:[/b] Av San Martin B/Equipetrol Calle Córdoba Este Nro. 13[br /]Telf: 339 3730 * Cel: 690 54663" />
		<add key="FormularioLaPazFooterAddress" value="[b]Of. Regional La Paz:[/b] Av. 6 de Agosto entre Pinilla y Pedro Salazar Edif. El Carmen 2do Mezanine Of. 3A[br /]Telf: 297 1974 * Cel: 776 01335" />
		<add key="FormularioCochabambaFooterAddress" value="[b]Of. Regional Cochabamba: [/b]Av Papa Paulo entre Ramón Rivero y Plazuela Quintanilla, Edif. Colombo Piso 7 Of. 2[br /]Telf.: 451 3408 * Cel.: 797 14819" />
		<add key="GestionMedicaGenericEmptyProvider" value="0" />
		<add key="GestionMedicaCurrentDerivacionGastoId" value="2055" />
		<add key="FortalezaDesgravamenId" value="36" />
		<add key="FirmaDigitalDimensions" value="320|170" />
		<!-- Libreria a Usar (EVO, HIQ) -->
		<add key="LibraryPDF" value="HIQ" />
		<add key="LibraryPDFKey" value="5a2MtLWB-g6mMh5eE-l5zdy9XF-1MXUxdLU-0MXW1MvU-18vc3Nzc" />
		<!-- Aqui en PRD-->
	    <add key="URLPrincipal" value="http://52.170.193.158/" />
		<!-- Aqui en QAS o DEV
		<add key="URLPrincipal" value="http://beta.redsalud.com.bo/" />-->
		<add key="TiposEstudios" value="[{'id':'LA','nombre':'Laboratorio'},{'id':'IM','nombre':'Imagenología'},{'id':'CA','nombre':'Cardiología'},{'id':'OD','nombre':'Odontología'}]" />
		<add key="TiposBusquedaSiniestralidad" value="[{'id':'','nombre':'TODOS'},{'id':'DEPENDIENTE','nombre':'DEPENDIENTE'},{'id':'TITULAR','nombre':'TITULAR'}]" />
		<add key="CodigoRedMedica" value="RedAlianza" />
		<add key="EspecialidadOdontologo" value="ODONTOLOGÍA" />
		<add key="EspecialidadMG" value="MEDICO GENERAL" />
		<add key="MotivoConsultaMG" value="ACCID" />
		<add key="MotivoConsultaEM" value="EMERG" />
		<add key="MotivoConsultaODO" value="ODONTO" />
		<add key="NombreOdontologia" value="Odontología" />
		<add key="NombreEspecialidad" value="Especialidades" />
		<add key="NombreMedicinaGeneral" value="Medicina General" />
		<add key="NombreLaboratorios" value="Laboratorios" />
		<add key="NombreImagenologia" value="Imagenología" />
		<add key="NombreFarmacia" value="Farmacia" />
		<add key="NombreCirugia" value="Cirugía" />
		<add key="NombreInternacion" value="Internación" />
		<add key="NombreEmergencia" value="Emergencia" />
		<add key="RolAdmin" value="Administrador" />
		<add key="RolRecepcionista" value="Recepcionista" />
		<add key="RolMedicoGeneral" value="Medico General" />
		<add key="PermisoExportarMatrizNacional" value="EXPORT_MATRIZ_NACIONAL_COPAGOS" />
		<add key="PermisoInsertarInternacionPago" value="INSERT_INTERNACION_PAGOS" />
		<add key="PermisoInsertarEmergenciaPago" value="INSERT_EMERG_PAGOS" />
		<add key="PermisoEliminarCoPagos" value="DELETE_PRESTACIONES_COPAGOS" />
		<add key="ValorODO" value="OD" />
		<add key="ValorEM" value="EM" />
		<add key="ValorCI" value="CI" />
		<add key="ValorES" value="ES" />
		<add key="ValorFA" value="FA" />
		<add key="ValorIM" value="IM" />
		<add key="ValorIN" value="IN" />
		<add key="ValorLA" value="LA" />
		<add key="ValorMG" value="MG" />
		<add key="ConsultaOdontologica" value="CONSULTA CLÍNICA" />
	<!--Token generator keys-->
    <add key="AgoraIOAppId" value="f78434ea8f934c5fa4c03f85e23b29f5" />
    <add key="AgoraIOAppCertificate" value="5f03fe98608e488dac4b98c46cce185b" />
	</appSettings>
	<connectionStrings>
		<!--   
	   <add name="RedSaludDBConnectionString" connectionString="Data Source=DESKTOP-ETB386S;Initial Catalog=RedSaludDBQAS;Persist Security Info=True;User ID=Tismart;Password=" providerName="System.Data.SqlClient" />
    <add name="RedSaludDBUsersConnectionString" connectionString="Data Source=DESKTOP-ETB386S;Initial Catalog=RedSaludDBUsersQAS;Persist Security Info=True;User ID=Tismart;Password=" providerName="System.Data.SqlClient" />
      <add name="RedSaludDBConnectionString" connectionString="Data Source=DESKTOP-ETB386S;Initial Catalog=RedSaludDBQAS;Integrated Security=true" providerName="System.Data.SqlClient" />
    <add name="RedSaludDBUsersConnectionString" connectionString="Data Source=DESKTOP-ETB386S;Initial Catalog=RedSaludDBUsersQAS;Integrated Security=true" providerName="System.Data.SqlClient" />

    
    <add name="RedSaludDBConnectionString" connectionString="Server=tcp:redsaludserverdesa.database.windows.net,1433;Initial Catalog=RedSaludDB;Persist Security Info=False;User ID=adminDesa;Password=rootDesa123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="RedSaludDBUsersConnectionString" connectionString="Server=tcp:redsaludserverdesa.database.windows.net,1433;Initial Catalog=RedSaludDBUsers;Persist Security Info=False;User ID=adminDesa;Password=rootDesa123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" /> 
    
     <add name="RedSaludDBConnectionString" connectionString="Server=tcp:redsaluld.database.windows.net,1433;Initial Catalog=RedSaludDB;Persist Security Info=False;User ID=josemiguel;Password=redsaludBeta2017;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="RedSaludDBUsersConnectionString" connectionString="Server=tcp:redsaluld.database.windows.net,1433;Initial Catalog=RedSaludDBUsers;Persist Security Info=False;User ID=josemiguel;Password=redsaludBeta2017;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    -->
    <add name="RedSaludDBConnectionString" connectionString="Server=tcp:redsaluld.database.windows.net,1433;Initial Catalog=RedSaludDB;Persist Security Info=False;User ID=josemiguel;Password=redsaludBeta2017;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="RedSaludDBUsersConnectionString" connectionString="Server=tcp:redsaluld.database.windows.net,1433;Initial Catalog=RedSaludDBUsers;Persist Security Info=False;User ID=josemiguel;Password=redsaludBeta2017;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <membership>
      <providers>
        <remove name="AspNetSqlMembershipProvider" />
        <add name="AspNetSqlMembershipProvider" connectionStringName="RedSaludDBUsersConnectionString" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <remove name="LocalSqlServer" />
        <remove name="AspNetSqlRoleProvider" />
        <add connectionStringName="RedSaludDBUsersConnectionString" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <remove name="AspNetWindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <anonymousIdentification enabled="true" />
    <globalization uiCulture="es" culture="es-BO" enableClientBasedCulture="false" />
    <authentication mode="Forms">
      <forms name=".REDSALUDAppLOGGIN" defaultUrl="MainPage.aspx" loginUrl="~/Authentication/Login.aspx" slidingExpiration="true" timeout="2880" />
    </authentication>
    <customErrors defaultRedirect="~/RuntimeError.aspx" mode="RemoteOnly" />
    <profile>
      <providers>
        <remove name="AspNetSQLProfileProvider" />
        <add connectionStringName="RedSaludDBUsersConnectionString" applicationName="/" name="AspNetSQLProfileProvider" type="System.Web.Profile.SqlProfileProvider" />
      </providers>
      <properties>
        <!-- This variable contains the validation code necessary to verify the user's email -->
        <add name="AccountValidationCode" type="System.String" readOnly="false" allowAnonymous="false" defaultValue="" />
        <add name="SystemMessages" type="Artexacta.App.Utilities.SystemMessages.SystemMessageList" allowAnonymous="false" serializeAs="Binary" />
      </properties>
    </profile>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
		
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <pages validateRequest="false" theme="Default" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add src="~/UserControls/SearchUserControl/SearchControl.ascx" tagName="SearchControl" tagPrefix="RedSalud" />
        <add src="~/UserControls/ContextualHelp.ascx" tagName="ContextualHelp" tagPrefix="RedSalud" />
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <httpRuntime maxRequestLength="11000000" executionTimeout="3600" />
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource" validate="false" />
      <add verb="*" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler, Telerik.Web.UI" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
  </system.web>
  <telerik.web.ui>
    <radScheduler defaultAppointmentProvider="Integrated" />
  </telerik.web.ui>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="noreply@redsalud.com.bo">
        <network host="mail.redsalud.com.bo" password="AuwovDImBbGB" enableSsl="true" port="587" userName="noreply@redsalud.com.bo" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="409600000" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
    </handlers>
    <defaultDocument enabled="true">
      <files>
        <add value="MainPage.aspx" />
      </files>
    </defaultDocument>
	  <httpRedirect enabled="false" destination="https://sistema.redsalud.com.bo/" />
	  <rewrite>
		  <rules>
			  <rule name="HTTP TO HTTPS" enabled="false" patternSyntax="Wildcard" stopProcessing="true">
				  <match url="*" />
				  <conditions>
					  <add input="{HTTPS}" pattern="off" />
				  </conditions>
				  <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Found" />
			  </rule>
		  </rules>
	  </rewrite>
  </system.webServer>
  <log4net>
    <!--
      Este appender escribe logs a un archivo Logs\RollingLog.log que lo irá rotando cuando
      el tamaño del log sea de un mega. El sistema mantendrá un máximo de 10 archivos 
      históricos:
      
      Logs\RollingLog.log
      Logs\RollingLog.log.1
      ...
      Logs\RollingLog.log.10
      
      Ver más detalles sobre este tipo de appender en:
      http://logging.apache.org/log4net/release/sdk/log4net.Appender.RollingFileAppender.html
    -->
    <appender name="RollingLogAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs\\RollingLog.log" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="1000000" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <!--
      Este appender envía sólo la fecha y el mensaje a una base de datos utilizando un Stored Procedure.
      
      Los tipos de conección posibles se pueden obtener de: 
      http://logging.apache.org/log4net/release/sdk/log4net.Appender.AdoNetAppender.ConnectionType.html
      
      Las posibles cadenas de conexión pueden obtenerse de: 
      http://www.connectionstrings.com/
      
      Más información sobre este tipo de appender en:
      http://logging.apache.org/log4net/release/sdk/log4net.Appender.AdoNetAppender.html
    -->
    <appender name="AdoNetBitacoraAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="0" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=.\;Initial Catalog=RedSaludDB;Integrated Security=True;Persist Security Info=False;" />
      <commandType value="StoredProcedure" />
      <commandText value="[dbo].[usp_LOG_InsertBitacora]" />
      <parameter>
        <parameterName value="@fecha" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawUtcTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@parametros" />
        <dbType value="String" />
        <size value="8000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
    </appender>
    <appender name="SmtpLogAppender" type="log4net.Appender.SmtpAppender,log4net">
      <to value="j.m.alvarez.camacho@gmail.com" />
      <!--<to value="jsansuste@cognosys.com.bo" />-->
      <from value="noreply@redsalud.com.bo" />
      <authentication value="basic" />
      <username value="noreply@redsalud.com.bo" />
      <!--<password value="Drong%445"/>-->
      <password value="AuwovDImBbGB" />
      <subject value="Error en SISA.NET" />
      <smtpHost value="mail.redsalud.com.bo" />
      <bufferSize value="512" />
      <lossy value="false" />
      <evaluator type="log4net.Core.LevelEvaluator,log4net">
        <threshold value="ERROR" />
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />
      </layout>
    </appender>
    <!--
      Definimos un logger llamado Standard.  Cuando se elija este logger, los mensajes se 
      grabarán en el LogFileAppender, RollingLogAppender y en el AdoNetLogAppender
    -->
    <logger name="Standard">
      <level value="Debug" />
      <appender-ref ref="RollingLogAppender" />
    </logger>
    <!--
      Definimos un logger llamado Bitacora_Operaciones.  Cuando se elija este logger, los mensajes se 
      grabarán en el AdoNetBitacoraAppender
    -->
    <logger name="Bitacora_Operaciones">
      <level value="Info" />
      <appender-ref ref="AdoNetBitacoraAppender" />
    </logger>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PdfSharp" publicKeyToken="f94615aa0424f9eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.32.3057.0" newVersion="1.32.3057.0" />
        <!--<bindingRedirect oldVersion="1.5.0.6" newVersion="1.5.0.6" />-->
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>